html,
body {
  margin: 0;
  padding: 0;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #DE5133;
  color: white;
  width: 100%;
  height: 60px;
}
#header h1 {
  font-size: 25px ;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: '幼圆';
  line-height: 60px;
}
#header .isLogin {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #E06D55;
}
#container {
  margin-top: 60px;
}
#container .nav {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #DE5133;
  font-family: '幼圆';
}
