html,body {
	margin: 0;
	padding: 0;
}
@headerHeight:60px;
#header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #DE5133;
	color: white;
	width: 100%;
	height: @headerHeight;
	& h1 {
		font-size: 25px;
		padding: 0;
		margin: 0;
		text-align: center;
		font-family: '幼圆';
		line-height: @headerHeight;
	}
}
#container {
	margin-top: @headerHeight;
}
