html,body {
	margin: 0;
	padding: 0;
}
@orange:#DE5133;
@headerHeight:60px;
#header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: @orange;
	color: white;
	width: 100%;
	height: @headerHeight;
	& h1 {
		font-size: 25px ;
		padding: 0;
		margin: 0;
		text-align: center;
		font-family: '幼圆';
		line-height: @headerHeight;
	}
	& .isLogin {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: @headerHeight - 10px;
		background-color: #E06D55;
	}
}
#container {
	margin-top: @headerHeight;
	margin-bottom: @applyHeight + 12px;
	& .nav {
		width: 100%;
		height: 30px;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: @orange;
		font-family: '幼圆';
	}
}
@itemHeight:40px;
.list > li {
	list-style: none;
	
	margin: 0 auto;
	width: 95%;
	height: auto;
	&:not(:first-child) {
		margin-top: 20px;
	}
	& .item {
		border:2px solid @orange;
	    border-radius: 4px;
		width: 100%;
		height: @itemHeight;
		font-family: '幼圆';
		color: @orange;
		& .date {
			float: left;
			margin-left: 5px;
			line-height: @itemHeight;
			height: @itemHeight;
		}
		& .weekday {
			float: right;
			margin-right: 5px;
			line-height: @itemHeight;
			height: @itemHeight;
		}
	}
}
ul {
	padding: 0;

}

@applyHeight:40px;
#apply {
	position: fixed;
	background-color: @orange;
	font-family: '幼圆';
	border-radius: 10px;
	left: 50%;
	bottom: 10px;
	width: 100px;
	height: @applyHeight;
	margin-left: -50px;
	line-height: @applyHeight;
	color: white;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}
