html,body {
	margin: 0;
	padding: 0;
}
@orange:#DE5133;
@headerHeight:60px;
#header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: @orange;
	color: white;
	width: 100%;
	height: @headerHeight;
	& h1 {
		font-size: 25px ;
		padding: 0;
		margin: 0;
		text-align: center;
		font-family: '幼圆';
		line-height: @headerHeight;
	}
	& .isLogin {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: @headerHeight - 10px;
		background-color: #E06D55;
	}
}
#container {
	margin-top: @headerHeight;
	margin-bottom: @applyHeight + 25px;
	& .nav {
		width: 100%;
		height: 30px;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: @orange;
		font-family: '幼圆';
	}
}
@itemHeight:40px;
.list > li {
	list-style: none;
	
	margin: 0 auto;
	width: 95%;
	height: auto;
	&:not(:first-child) {
		margin-top: 20px;
	}
	& .item {
		border:2px solid @orange;
	    border-radius: 4px;
		width: 100%;
		height: @itemHeight;
		font-family: '幼圆';
		color: @orange;
		& .date {
			float: left;
			margin-left: 5px;
			line-height: @itemHeight;
			height: @itemHeight;
		}
		& .weekday {
			float: right;
			margin-right: 5px;
			line-height: @itemHeight;
			height: @itemHeight;
		}
	}
}
ul {
	padding: 0;

}

@applyHeight:40px;
#apply {
	position: fixed;
	background-color: @orange;
	font-family: '幼圆';
	border-radius: 10px;
	left: 50%;
	bottom: 10px;
	width: 100px;
	height: @applyHeight;
	margin-left: -50px;
	line-height: @applyHeight;
	color: white;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}
.bar {
	width: 100%;
	height: 0px;
	background-color: #F9CAC0;
}
//animation loading
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 100px auto;
  top: 50px;
  left: 50px;
  position: fixed;
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}